
      <div id="sidebar">
        <ul id="sidebar-items">
			<li><a href="/browse">Browse files</a></li>
			<li><a href="/jsbrowse">Browse files (js)</a></li>
			<li><a href="/apps">Applications</a></li>
			<li><a href="/jobs">Jobs</a></li>
			<li><a href="/logout">Logout</a></li>
		</ul>
	  </div>

